# Dependency directory
packages/**/node_modules
node_modules

# Compiled JS directory
packages/opds-web-client/lib

# Bundled JS
dist

# TypeScript Docs
packages/opds-web-client/docs

# Temporary files
*~
