# Dependency directory
packages/**/node_modules

# Compiled JS directory
packages/opds-web-client/lib

# Bundled JS
dist

# TypeScript definitions
packages/opds-web-client/typings/*

# Temporary files
*~
