$basefontraw: 16;
$basefont: $basefontraw * 1px;
$focus-width: 3px;

// colors
$nyplyellow: #FEE24A;
$nyplorange: #ffb81d;
$nyplred: #ed1c24;
$nypldarkgreen: #437529;
$nypllightgreen: lighten($nypldarkgreen, 20%);
$nyplblue: #1DA1D4;
$nyplbluedark: #1980a9;
$nyplsearchcolor: $nyplblue;
$nyplsearchcolordark: $nyplbluedark;
$nyplsearchcolorlight: lighten(#1DA1D4, 20%);
$nyplgray: #7B756F;
$nypldarkgray: darken($nyplgray, 40%);
$nypllightgray: lighten($nyplgray, 40%);
$focuscolor: $nyplorange;
$pagecolor: white;
$pagecolorlight: $nypllightgray;
$pagetextcolor: $nypldarkgray;
$footercolor: #54514A;
$highlightcolor: $nyplbluedark;

// link colors
$linkcolor: $nyplred;
$linkvisitedcolor: darken($linkcolor, 20%);
$linkhovercolor: lighten($linkcolor, 10%);
$invertedlinkcolor: white;
$invertedlinkvisitedcolor: darken($invertedlinkcolor, 10%);

// original vars
$leftPanelWidth: 190px;
$padding: 10px;
$headerHeight: 50px;
$breadcrumbsHeight: 40px;
$footerHeight: 50px;

// book stuff
$bookHeight: 200px;
$bookWidth: 150px;