$basefontraw: 16 !default;
$basefont: $basefontraw * 1px !default;
$fontfamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$focus-width: 3px !default;

$blue: #3a7dfd;
$darkblue: #234c99;
$gray: #eee2cc;
$light: #fff2dd;
$dark: #403d37;

// colors
$focuscolor: orange !default;
$pagecolor: $light !default;
$pagecolorlight: $gray !default;
$pagetextcolor: $dark !default;
$footercolor: #54514A !default;
$highlightcolor: $darkblue !default;

// link colors
$linkcolor: $blue !default;
$linkvisitedcolor: darken($linkcolor, 20%) !default;
$linkhovercolor: lighten($linkcolor, 10%) !default;
$invertedlinkcolor: $light !default;
$invertedlinkvisitedcolor: darken($invertedlinkcolor, 10%) !default;

// original vars
$leftPanelWidth: 190px !default;
$padding: 10px !default;
$headerHeight: 50px !default;
$breadcrumbsHeight: 40px !default;
$footerHeight: 50px !default;

// book stuff
$bookHeight: 200px !default;
$bookWidth: 150px !default;
$stripeWidth: 200px !default;

@-webkit-keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: -($stripeWidth * 2) $stripeWidth; }
}

@keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: -($stripeWidth * 2) $stripeWidth; }
}

