@import "variables";

.book-details {
  .top {
    display: table-row;
    text-align: left;
  }

  .cover {
    display: table-cell;
    padding-right: 20px;
    vertical-align: top;
  }

  .header {
    display: table-cell;
    vertical-align: top;
    text-align: left;
    max-width: 500px;

    h1 {
      margin: 0px;
    }

    h3 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }

    h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }

    .fields {
      margin-top: 2em;
      color: #888;
      font-size: 1em;
    }
  }

  .divider {
    clear: both;
    margin-top: 1em;
  }

  .main {
    padding-top: 2em;
    border-top: 1px solid #CCC;

    .top {
      text-align: center;
      margin-bottom: 30px;
    }

    .circulation-links {
      margin-bottom: 5px;

      .btn {
        margin-right: 0.5em;
        background-color: $linkcolor;
        color: white;
        border: none;
        border-radius: 0;
        font-size: 2em;
        transition: all 0.2s;

        &:hover {
          color: $linkcolor;
          background-color: rgba($linkcolor, 0.2);
        }
      }
    }

    .right-column-links {
      text-align: right;
    }
  }
}