.book-cover {
  width: 150px;
  height: 200px;
  float: left;
  border: 1px solid #ccc;
}

.auto-book-cover {
  float: left;
  width: 150px;
  height: 200px;
  border: 1px solid #888;
  font-weight: normal;
  font-family: Georgia, serif;
  position: relative;
  text-align: left;

  .title {
    display: table-cell;
    height: 120px;
    width: 150px;
    vertical-align: bottom;
    color: #444;
    background-color: #eee;
    font-weight: normal;
    padding: 10px;
    line-height: 1em;
  }

  .authors {
    color: #fff;
    padding: 10px;
  }
}