@import "variables";

.book {
  white-space: normal;
  margin-right: $padding;
  min-height: ($bookHeight * 1.25);
  overflow: hidden;
  position: relative;

  .title {
    color: $darkblue;
    font-size: 1.2em;
    font-weight: bold;
  }

  .authors {
    font-size: 1em;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

.circulation-links {
  a,
  button,
  .btn-default {
    border-radius: 5px;
    border: 1px solid $linkcolor;
    background-color: transparent;
    color: $linkcolor;
    padding: 0.3125rem 0.625rem;
    margin: 5px;
    transition: all 0.2s;

    &:hover {
      background: $linkhovercolor;
      border-color: $linkhovercolor;
      color: $invertedlinkcolor;
    }

    &::after {
      content: " ";
      width: 10px;
      height: 10px;
      background: red;
    }
  }
}

.grid-view .book, .lane .book {
  margin-bottom: $padding;

  .compact-info {
    background-color: rgba($pagecolor, 0.8);
    border-top: 2px solid $linkcolor;
    bottom: 0;
    box-shadow: inset 0px -5px 6px -7px black;
    left: 0;
    height: $bookHeight * 0.0;
    width: 150px;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.2s;
  }

  .expanded-info {
    display: none;
  }

  a:focus .compact-info, a:hover .compact-info {
    height: calc(70%);
    background-color: rgba($pagecolor, 1);
    padding: $padding 0;
  }

  .series {
    display: none;
  }
}

.list-view li {
  border-bottom: 0.125rem solid $darkblue;
  margin-bottom: 2.25rem;
}

.list-view .book {
  display: flex;
  flex-direction: row;
  height: $bookHeight;
  width: 100%;

  .compact-info {
    display: none;
  }

  .expanded-info {
    display: flex;
    flex-direction: column;

    flex: 1;
    height: $bookHeight;
    margin: 10px;
    text-align: left;
    max-width: 1200px;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media only screen and (max-width: 1200px) {
        max-width: 550px;
      }
    }

    .details {
      display: flex;
      flex-direction: row;
      font-size: 1rem;
      margin-top: 1.125rem;
    }

    .fields {
      border-left: 0.35rem solid rgba($darkblue, 0.2);
      color: $darkblue;
      font-size: 0.85rem;
      list-style-type: none;
      margin: 0;
      padding: 0.5rem 0 0 0.5rem;
      //margin-right: 2em;
      //flex: 1;
      width: 25%;

      @media only screen and (max-width: 1200px) {
        display: none;
      }

      li {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }

//
// Summary ~ Book description
// Truncation based on http://dev.mobify.com/blog/multiline-ellipsis-in-pure-css/
    .summary {
      flex: 1;
      height: 7.5em;
      line-height: 1.3em;
      max-width: 45rem;
      overflow: hidden;
      padding-right: 6rem;
      position: relative;
      width: 60%;

      &::before {
        content: " ";
        height: 6.3em;
        width: 6em;
        float: left;
      }

      // span,
      p {
        float: right;
        line-height: 1.5;
        margin-left: -6em;
        width: 100%;
      }

      a {
        float: right;
        width: 6em;
        position: relative;
        //top: -1.3em;
        left: calc(100% - 6em);
        text-align: right;
        background: linear-gradient(to right, transparent, $pagecolor 40%, $pagecolor);
      }
    }

    .circulation-links {
      flex: 1;
      margin-left: 1rem;
      position: relative;
      text-align: left;
      top: -0.6rem;

      * {
        display: none;
      }

      *:first-child {
        display: inline-block;
      }
    }
  }
} // /.list-view

// .list-view li:nth-child(odd) .book .expanded-info .summary a {
//   background: linear-gradient(to right, transparent, $pagecolorlight 40%, $pagecolorlight);
// }
