@import "popup";

.error {
  @include popup(400px);
  background-color: $pagecolor;

  h1 {
    margin-top: 0;
  }

  .message {
    overflow: auto;
    padding-bottom: 10px;
  }

  .btn {
    font-size: 1.2em;
  }
}