@import "variables";

.lane-book {
  white-space: normal;
  margin-right: $padding;
  overflow: hidden;
  height: $bookHeight;
  position: relative;

  .info {
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 2px solid $linkcolor;
    bottom: 0;
    box-shadow: inset 0px -5px 6px -7px black;
    font-size: 1em;
    font-weight: bold;
    left: 0;
    height: $bookHeight * 0.0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.2s;
  }

  a:focus .info, a:hover .info {
    height: calc(70%);
    background-color: rgba(255, 255, 255, 1);
    padding: $padding 0;
  }

  a {
    color: black;
    text-decoration: none;
  }
}