@import "variables";

.lane {
  h2 {
    clear: both;
    cursor: pointer;

    a {
      display: block;
    }
  }

  .lane-books-container {
    overflow-x: hidden;
    position: relative;
  }

  .scroll-button {
    background-color: $linkcolor;
    color: $pagecolor;
    position: absolute;
    z-index: 1;
    height: 100%;
  }

  .lane-books {
    display: block;
    height: $bookHeight + $padding;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style-type: none;
    transition: margin-left 1s ease-in-out;

    li {
      display: inline-block;
    }
  }
}