@import "variables";

.lane {
  &:before {
    content: "<";
  }

  h2 {
    clear: both;
    cursor: pointer;

    a {
      display: block;
    }
  }

  .lane-books {
    display: block;
    height: $bookHeight + $padding;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: inline-block;
    }
  }
}