@import "variables";

@mixin popup(
  $width: 100%,
  $height: null) {
  background-color: rgba($pagecolor, 0.5);
  left: 0;
  height: calc(100% - #{$headerHeight});
  position: fixed;
  top: $headerHeight;
  width: $width;
  z-index: 199;


  > * {
    box-shadow: 0 0 2em rgba(black, 0.5);
    border-radius: 0;
    background-color: rgba($pagecolor, 0.9);
    //left: 10%;
    margin-left: 0;
    margin-top: 0;
    padding: 1.3rem;
    position: fixed;
    text-align: center;
    top: $headerHeight;
    width: 100%;
    z-index: 200;
  }
}
