@import "variables";

@mixin popup($width, $height: 200px) {
  position: fixed;
  top: 40%;
  left: 10%;
  width: 80%;
  margin-top: -$height;
  margin-left: 0;
  padding: $height 100px;
  background-color: rgba($pagecolor, 0.9);
  text-align: center;
  z-index: 200;
  border-radius: 0;
  box-shadow: 0 0 2em rgba(black, 0.5);
}